<div class="container">
    <div class="row sup">
        <form [formGroup]="forma">
            <mat-form-field appearance="outline" class="dato formacion">
                <mat-label>Formacion</mat-label>
                <input  matInput
                        formControlName="formacion">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato institucion">
                <mat-label>institucion</mat-label>
                <input  matInput
                        formControlName="institucion">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato periodo">
                <mat-label>Año de inicio</mat-label>
                <input  type="number"
                        matInput
                        formControlName="periodoini">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato periodo">
                <mat-label>Año de final</mat-label>
                <input  type="number"
                        matInput
                        formControlName="periodofin">
            </mat-form-field>
            <div [ngClass]="{'botonera' : true , queja : quejadato}">
                <button class="botonaccion" title="Guardar" (click)="guardar()"><i class="fas fa-pencil-alt"></i></button>
                <button class="botonaccion" title="Limpiar" (click)="limpiar()"><i class="fas fa-eraser"></i></button>
                <button class="botonaccion" title="Borrar" (click)="borrar()"><i class="fas fa-times-circle"></i></button>
            </div>
        </form>    
    </div>
    <hr>
    <div class="row inf">
        <div class="item" *ngFor="let dato of formaciondata" (click)="editar(dato)" >
            <p class="formacion">{{dato.materia}}</p>
            <p class="periodo">{{dato.periodo}}</p>
            <p class="institucion">{{dato.institucion}}</p>
        </div>
    </div>
</div>