.contenido
    display: flex
    justify-content: space-around
    align-items: center
.col,.rrssc
    margin: 0px
    padding: 0px
.rrssc
    min-width: 100%
    min-height: 90vh
    .vacio
        min-width: 100%
        min-height: 70%
    .contenido
        min-width: 100%
        min-height: 30%
        padding: 0px 20vw
        a
            text-decoration: none
            &:hover
                i
                    transition: all 0.4s ease
                    color: yellow
        i
            font-size: 5.5rem

@media ( max-width:1120px )
    .contenido
        padding: 0px 20px !important

@media ( max-width:660px )
    .rrssc
        min-height: 100vh !important

@media ( max-width:450px )
    i
        font-size: 3.5rem !important