<div class="main">
    <div class="container">
        <div class="row">
            <div *ngIf="!flagacceso" class="col logadmin"><app-logadmin></app-logadmin></div>
            <div *ngIf="flagacceso" class="col navadmin"><app-navadmin></app-navadmin></div>
            <div *ngIf="flagacceso" class="col comadmin">
                <app-about *ngIf="desplieguemenu == 'About'"></app-about>
                <app-pexperiencia *ngIf="desplieguemenu == 'PerfilExperiencia'"></app-pexperiencia>
                <app-pformacion *ngIf="desplieguemenu == 'PerfilFormacion'"></app-pformacion>
                <app-pdatosdeinteres *ngIf="desplieguemenu == 'PerfilDatos'"></app-pdatosdeinteres>
                <app-trabajos *ngIf="desplieguemenu == 'Trabajos'"></app-trabajos>
            </div>
        </div>
    </div>
</div>

