<div class="row mainc">
    <div class="col vacio">
        <div class="sup"></div>
        <div class="inf">
            <div class="wd">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </div>
    <div class="col contenido">
        <p class="primeralinea">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque doloribus, minus quae modi id eveniet sunt fugit, repudiandae, tenetur voluptates nobis ad qui? Nostrum iusto, obcaecati sequi consequatur vero culpa in saepe distinctio a, libero ex minus quos blanditiis odit pariatur deserunt earum qui? Cupiditate fugiat doloremque voluptatem vero totam, voluptates odit ad ut dolore commodi iusto magni earum mollitia inventore sint eius culpa sed! Assumenda accusamus a deserunt similique dolorem quae explicabo cum eius illo mollitia, perspiciatis iste ratione perferendis obcaecati libero quam? Harum dolores corrupti quisquam, sunt unde dolorum laboriosam at tenetur, placeat vero totam quod sed esse?</p>
    </div>
</div>
