.col,.wd
    margin: 0px
    padding: 0px
.mainc
    min-width: 100%
    min-height: 90vh
    margin: 0px
    padding: 0px
    overflow: hidden !important
    .vacio
        .sup
            min-width: 100%
            min-height: 60vh
        .inf
            display: flex
            justify-content: center
            align-items: center
            min-width: 100%
            min-height: 30vh
            .wd
                display: flex
                justify-content: center
                align-items: center
                flex-direction: column
                text-align: center
                max-width: 95%
                border: 5px solid white
                border-radius: 20px
                padding: 25px
    .contenido
        max-width: 50vw
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        padding: 50px
        p
            font-size: 1.15rem
            font-weight: 700
            text-align: justify
            margin: 5px 0px
        .primeralinea
            text-indent: 15%

@media (max-width:1120px)
    .vacio
        max-height: 30vh
    .sup
        display: none
    .col
        min-width: 100%
    .wd
        min-width: 80%

@media (max-width:660px)
    .mainc
        min-height: 100vh !important
    .contenido
        padding: 25px !important

@media (max-width:450px)
    .wd
        max-width: 95%





    