<div class="row mainc">
    <div class="col vacio">
        <div class="sup"></div>
        <div class="inf">
            <div class="wd">
                <h1>Lorem ipsum dolor sit.</h1>
                <p>Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </div>
    <div class="col contenido">
        <p class="primeralinea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure ipsum nesciunt illum accusantium ab hic porro sed similique! Cum at illo exercitationem beatae autem iure impedit saepe, deserunt quo debitis non necessitatibus voluptate mollitia corrupti, minus labore id aliquid qui vel. Ratione qui similique vitae eligendi suscipit! Neque soluta, magnam labore ipsam excepturi, obcaecati quod, ducimus maiores cum sed recusandae velit? Id hic corrupti tenetur laboriosam ad. Culpa animi aspernatur, quasi, aliquam modi vero corrupti et rerum sequi facilis fugit consectetur ducimus repudiandae voluptates enim dolore cumque. Vel, illum beatae asperiores soluta vitae quaerat dolorem ab natus blanditiis modi amet.</p>
    </div>
</div>