<div class="row perfilc">
    <div class="col contenido">
        <h3>Experiencia profesional</h3>
        <div class="tarjetaxp">
            <div class="puesto">Técnico en microinformática</div>
            <div class="ano">2019</div>
            <div class="duracion">5 meses</div>
            <div class="lugar">Afocor</div>
            <div class="descripcion">Asistencia telefónica al usuario. Recepción, documentación y distribución departamental de incidencias con herramientas de ticketing. Helpdesk de primer nivel.</div>
        </div>
        <div class="tarjetaxp">
            <div class="puesto">Técnico en microinformática</div>
            <div class="ano">2019</div>
            <div class="duracion">5 meses</div>
            <div class="lugar">Afocor</div>
            <div class="descripcion">Asistencia telefónica al usuario. Recepción, documentación y distribución departamental de incidencias con herramientas de ticketing. Helpdesk de primer nivel.</div>
        </div>
        <div class="tarjetaxp">
            <div class="puesto">Técnico en microinformática</div>
            <div class="ano">2019</div>
            <div class="duracion">5 meses</div>
            <div class="lugar">Afocor</div>
            <div class="descripcion">Asistencia telefónica al usuario. Recepción, documentación y distribución departamental de incidencias con herramientas de ticketing. Helpdesk de primer nivel.</div>
        </div>
        <div class="tarjetaxp">
            <div class="puesto">Técnico en microinformática</div>
            <div class="ano">2019</div>
            <div class="duracion">5 meses</div>
            <div class="lugar">Afocor</div>
            <div class="descripcion">Asistencia telefónica al usuario. Recepción, documentación y distribución departamental de incidencias con herramientas de ticketing. Helpdesk de primer nivel.</div>
        </div>
        <div class="tarjetaxp">
            <div class="puesto">Técnico en microinformática</div>
            <div class="ano">2019</div>
            <div class="duracion">5 meses</div>
            <div class="lugar">Afocor</div>
            <div class="descripcion">Asistencia telefónica al usuario. Recepción, documentación y distribución departamental de incidencias con herramientas de ticketing. Helpdesk de primer nivel.</div>
        </div>
    </div>
    <div class="col vacio"></div>
    <div class="col contenido formacion">
        <h3>formación académica</h3>
        <div class="tarjetafor">
            <div class="formacion">Desarrollo web Frontend (HTML, CSS, Bootstrap, JavaScript y Angular, RxJS), Python, Django, PHP y MySQL. Docker.</div>
            <div class="periodo">2020-2021</div>
            <div class="lugar">Udemy</div>
        </div>
        <div class="tarjetafor">
            <div class="formacion">Desarrollo web Frontend (HTML, CSS, Bootstrap, JavaScript y Angular, RxJS), Python, Django, PHP y MySQL. Docker.</div>
            <div class="periodo">2020-2021</div>
            <div class="lugar">Udemy</div>
        </div>
        <div class="tarjetafor">
            <div class="formacion">Desarrollo web Frontend (HTML, CSS, Bootstrap, JavaScript y Angular, RxJS), Python, Django, PHP y MySQL. Docker.</div>
            <div class="periodo">2020-2021</div>
            <div class="lugar">Udemy</div>
        </div>
        <div class="tarjetafor">
            <div class="formacion">Desarrollo web Frontend (HTML, CSS, Bootstrap, JavaScript y Angular, RxJS), Python, Django, PHP y MySQL. Docker.</div>
            <div class="periodo">2020-2021</div>
            <div class="lugar">Udemy</div>
        </div>
        <div class="tarjetafor">
            <div class="formacion">Desarrollo web Frontend (HTML, CSS, Bootstrap, JavaScript y Angular, RxJS), Python, Django, PHP y MySQL. Docker.</div>
            <div class="periodo">2020-2021</div>
            <div class="lugar">Udemy</div>
        </div>
        <h3>Datos de interes</h3>
        <div class="tarjetainteres">
            <div class="dato">Bonificado con bono empleo joven</div>
            <div class="dato">Especial interés en teletrabajar</div>
            <div class="dato">Inglés B1 no certificado</div>
            <div class="dato">Inscrito en el sistema nacional de garantía juvenil</div>
            <div class="dato">Bonificado con bono empleo joven</div>
            <div class="dato">Especial interés en teletrabajar</div>
            <div class="dato">Inglés B1 no certificado</div>
            <div class="dato">Inscrito en el sistema nacional de garantía juvenil</div>
        </div>
    </div>
</div>

