.col,.perfilc
    margin: 0px
    padding: 0px
.perfilc
    min-width: 100%
    min-height: 90vh
    .contenido
        min-width: 40%
        padding: 10px 20px
    .vacio
        min-width: 20%
    