<div class="row trabajosc">
    <div class="col contenido">
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(../../../assets/img/fotos/item.jpg);"></div>
            <div class="contenidotar">
                <div class="titulo">Lorem, ipsum.</div>
                <div class="releaseordev">2021</div>
                <div class="descripcion">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, perspiciatis consectetur quo hic quas, corporis ducimus, ab ad odit odio nulla aliquam aperiam! Asperiores, id mollitia dolorum alias corrupti sed veritatis. Reiciendis laboriosam, omnis corrupti nesciunt cupiditate rerum adipisci quaerat?</div>
                <div class="autor">Carlos Manuel</div>
                <div class="link">www.google.es</div>
            </div>
        </div>
    </div>
    <div class="col vacio"></div>
</div>