$transborde : 2px solid rgba(255,255,255,0.5)

.contenido
    display: flex
    justify-content: flex-start
    align-items: center
.trabajosc
    min-width: 100vw
    max-height: 90vh
    overflow-y: scroll
    margin: 0px
    padding: 0px
    .contenido
        margin-top: 15px
        min-width: 75%
        min-height: 90vh
        flex-direction: column
        .tarjeta
            margin: 10px 0px
            min-height: 25vh
            max-width: 80%
            display: flex
            justify-content: center
            align-items: center
            overflow: hidden
            .fototar
                border-right: $transborde
                background-size: cover
                background-position: center
                min-height: 100%
                min-width: 25%
            .contenidotar
                min-height: 100%
                min-width: 70%
    .vacio
        min-width: 25%
        min-height: 90vh
.contenidotar
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    .titulo,.releaseordev,.descripcion,.autor,.link
        display: flex
        justify-content: center
        align-items: center
    .titulo,.releaseordev,.autor,.link
        max-height: 10%
        min-width: 50%
        max-width: 50%
    .descripcion
        padding: 10px
        min-height: 80%
        max-height: 80%
        text-align: justify
    .titulo,.releaseordev
        border-bottom: $transborde
    .autor,.link
        border-top: $transborde
    .titulo,.autor
        border-right: $transborde

@media (max-width:1120px)
    .trabajosc
        .vacio
            display: hidden
        .contenido
            min-width: 100%
    
@media (max-width:800px)
    .trabajosc
        .contenido
            padding: 0px 15px
            .tarjeta
                min-width: 95%

@media ( max-width:660px )
    .trabajosc
        min-height: 120vh
        .tarjeta
            min-height: 25vh
            margin: 30px 0px !important
        .fototar
            display: none
        .titulo,.releaseordev,.autor,.link
            min-height: 10%
            max-height: 10%
            padding: 0px
            margin: 0px
        .descripcion
            min-height: 80%
            max-height: 80%
            padding: 0px
            margin: 0px
    