<div class="row trabajosc">
    <div class="col contenido">
        <div class="tarjeta" *ngFor="let curro of curroinfo" >
            <div class="fototar" style="background-image: url({{curro.foto}});"></div>
            <div class="contenidotar">
                <div class="titulo">{{curro.proyecto}}</div>
                <div class="releaseordev">{{curro.estado}}</div>
                <div class="descripcion">{{curro.descripcion}}</div>
                <div class="autor">{{curro.autor}}</div>

                <div *ngIf="curro.enlace" class="link"><a href="{{curro.enlace || ''}}">{{curro.enlacetxt || ''}}</a></div>
                <div *ngIf="!curro.enlace" class="link"></div>
                
            </div>
        </div>
    </div>
    <div class="col vacio"></div>
</div>