<div class="row trabajosc">
    <div class="col contenido">
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
        <div class="tarjeta">
            <div class="fototar" style="background-image: url(https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46673/mahjong-red-dragon-emoji-clipart-xl.png);"></div>
            <div class="contenidotar">
                <div class="titulo">Titulo del proyecto</div>
                <div class="releaseordev">Año de lanzamiento</div>
                <div class="descripcion">Descripcion , Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsam doloribus autem accusamus numquam, iusto distinctio fugiat et aperiam soluta perferendis enim reprehenderit mollitia, laudantium rerum impedit esse sunt aliquam exercitationem excepturi libero aut unde. Repellendus accusamus voluptatum ipsa pariatur.</div>
                <div class="autor">Autor</div>
                <div class="link">Enlace al proyecto</div>
            </div>
        </div>
    </div>
    <div class="col vacio"></div>
</div>