<button mat-raised-button color='accent' [matMenuTriggerFor]="menu">Panel de administración</button>

<mat-menu #menu="matMenu">
    <button (click)="opcion('About')"  mat-menu-item>Sobre mi</button>
    <button mat-menu-item [matMenuTriggerFor]="perfil">Perfil profesional</button>
    <button (click)="opcion('Trabajos')"  mat-menu-item>Trabajos</button>
    <button (click)="logout()"  mat-menu-item>Cerrar sesión</button>
</mat-menu>

<mat-menu #perfil="matMenu">
    <button (click)="opcion('PerfilExperiencia')"  mat-menu-item >Experiencia</button>
    <button (click)="opcion('PerfilFormacion')"  mat-menu-item >Formación</button>
    <button (click)="opcion('PerfilDatos')"  mat-menu-item >Datos de interés</button>
</mat-menu>

