<!-- <div class="bloquenav col uno"> -->
<div [ngClass]="{'bloquenav col':true,'funado':adminav}">
    <a (click)="rutasubject()" routerLink="/" routerLinkActive="activa" [routerLinkActiveOptions]="{exact:true}"><div class="opcionweb">Sobre mi</div></a>
    <a (click)="rutasubject()" routerLink="/perfil" routerLinkActive="activa" [routerLinkActiveOptions]="{exact:true}"><div class="opcionweb">Perfil profesional</div></a>
    <a (click)="rutasubject()" routerLink="/trabajos" routerLinkActive="activa" [routerLinkActiveOptions]="{exact:true}"><div class="opcionweb">Trabajos</div></a>
    <a (click)="rutasubject()" routerLink="/rrss" routerLinkActive="activa" [routerLinkActiveOptions]="{exact:true}"><div class="opcionweb">Redes Sociales</div></a>
</div>
