<div class="container">
    <div class="row sup">
        <div class="col formulario">
            <form [formGroup]="forma">
                <mat-form-field appearance="outline" class="dato nombre">
                    <mat-label>nombre</mat-label>
                    <input  matInput
                            type="text"
                            formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato autor">
                    <mat-label>autor</mat-label>
                    <input  matInput
                            type="text"
                            formControlName="autor">
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato anio">
                    <mat-label>año del proyecto</mat-label>
                    <input  matInput
                            type="number"
                            formControlName="anio">
                </mat-form-field>
                <!--Boton de meter foto-->
                <button type="button" mat-raised-button color="accent" (click)="fileInput.click()">Foto</button>
                <input hidden (change)="fotoput(fileInput)" #fileInput type="file">
                <mat-form-field appearance="outline" class="dato descripcion">
                    <mat-label>descripción</mat-label>
                    <textarea   matInput
                                type="text"
                                formControlName="descripcion"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato enlace">
                    <mat-label>enlace al proyecto</mat-label>
                    <input  matInput
                            type="text"
                            formControlName="eap">
                </mat-form-field>
                <button class="botonaccion" title="Guardar" (click)="formsave()"><i class="fas fa-pencil-alt"></i></button>
                <button class="botonaccion" title="Limpiar" (click)="formclean()" ><i class="fas fa-eraser"></i></button>
                <button class="botonaccion" title="Borrar"  (click)="formerase()"><i class="fas fa-times-circle"></i></button>
            </form>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col trabajos">
            <!--
            <div class="trabajoitem">
                <div class="grupofotodel">
                    <div class="foto" style="background-image: url();"></div>
                </div>
                <div class="grupodatostring">
                    <div class="nombre"></div>
                    <div class="anio"></div>
                    <div class="descripcion"></div>
                    <div class="autor"></div>
                    <div class="enlace"></div>
                </div>
            </div>
            -->
        </div>
    </div>
</div>