.row
    max-height: 40vh
.funa
    display: none
.trabajos
    overflow-y: scroll
.formulario
    display: flex
    flex-direction: column
    .dato
        margin: -10px 5px
    .nombre,.autor,.anio
        min-width: 32%
    .descripcion
        min-width: 99%
        textarea
            resize: none
            min-height: 150px
    .enlace
        min-width: 60%
    .foto
        height: 30px
        width: 30px
        padding: 20px
        display: flex
        justify-content: center
        align-items: center
        border: 1px solid white
    .botonaccion
        margin: 0px 10px

