<div class="container">
    <div class="row">
        <div class="col formulario">
            <form [formGroup]="forma">
                <mat-form-field appearance="outline" class="dato nombre">
                    <mat-label>nombre</mat-label>
                    <input  matInput
                            formControlName="nombre">
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato autor">
                    <mat-label>autor</mat-label>
                    <input  matInput
                            formControlName="autor">
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato anio">
                    <mat-label>año del proyecto</mat-label>
                    <input  matInput
                            formControlName="anio">
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato descripcion">
                    <mat-label>descripción</mat-label>
                    <textarea   matInput
                                formControlName="descripcion"></textarea>
                </mat-form-field>
                <mat-form-field appearance="outline" class="dato enlace">
                    <mat-label>enlace al proyecto</mat-label>
                    <input  matInput
                            formControlName="ead">
                </mat-form-field>
                <button mat-raised-button color="warn" class="botonaccion">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </button>
                <button mat-raised-button color="warn" class="botonaccion">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </button>
                <button mat-raised-button color="warn" class="botonaccion">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col trabajos">
            <div *ngFor="let trabajo of trabajos" class="tarjeta">
                <p>{{trabajo.nombre}}</p>
                <p>{{trabajo.descripcion}}</p>
                <p>{{trabajo.descripcion}}</p>
            </div>
        </div>
    </div>
</div>