<!-- <div class="padraso" style="background-image: url(../assets/img/fotos/dragon.jpg);"> -->
<!-- <div class="padraso {{fondoclase}}"> -->

<style>
    @keyframes prueba {
        0% {background-image: url({{bgobj.antes}});}
        100% {background-image: url({{bgobj.despues}});}
    }
    .padraso {animation: prueba;animation-duration: 2s;animation-fill-mode: forwards;}
</style>

<div #padre *ngIf=!_td.fallospiner class="padraso">
    <div class="container">
    <router-outlet></router-outlet>
    </div>
    <app-navegacion [ngClass]="{'nav':true,'funado':adminav}" ></app-navegacion>
</div>
<div *ngIf=_td.fallospiner class="padraso">
    <div class="spinner"><mat-spinner color="warn"></mat-spinner></div>
</div>
