.padraso
    max-width: 100vw
    min-height: 100vh
    background-color: black
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    overflow: hidden
.container,.nav,.padraso
    margin: 0px
    padding: 0px
.container
    min-width: 100vw
    min-height: 90vh
.nav
    min-width: 100vw
    min-height: 9vh

.about
    background-image: url("../assets/img/fotos/dragon.jpg")
.perfil
    background-image: url("../assets/img/fotos/lobo.jpg")
.trabajos
    background-image: url("../assets/img/fotos/oso.jpg")
.rrss
    background-image: url("../assets/img/fotos/tighe.jpg")

@media (max-width:1120px)
    .about
        background-image: url("../assets/img/fotos/dragonsujeto.jpg")
    .perfil
        background-image: url("../assets/img/fotos/lobosujeto.jpg")
    .trabajos
        background-image: url("../assets/img/fotos/ososujeto.jpg")
    .rrss
        background-image: url("../assets/img/fotos/tighesujeto.jpg")


