<div class="container">
    <div class="row sup">
        <form [formGroup]="forma">
            <mat-form-field appearance="outline" class="dato puesto">
                <mat-label>Puesto</mat-label>
                <input  matInput
                        formControlName="puesto">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato ano">
                <mat-label>Año</mat-label>
                <input  type="number"
                        matInput
                        formControlName="ano">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato duracion">
                <mat-label>Duracion (en meses)</mat-label>
                <input  type="number"
                        matInput
                        formControlName="duracion">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato lugar">
                <mat-label>Lugar</mat-label>
                <input  matInput
                        formControlName="lugar">
            </mat-form-field>
            <mat-form-field appearance="outline" class="dato descripcion">
                <mat-label>Descripcion</mat-label>
                <textarea   matInput
                            formControlName="descripcion"></textarea>
            </mat-form-field>
            <div [ngClass]="{'botonera' : true , queja : quejadato}">
                <button class="botonaccion" title="Guardar" (click)="guardar()" ><i class="fas fa-pencil-alt"></i></button>
                <button class="botonaccion" title="Limpiar" (click)="limpiar()"><i class="fas fa-eraser"></i></button>
                <button class="botonaccion" title="Borrar"><i class="fas fa-times-circle"></i></button>
            </div>
        </form>
    </div>
    <hr>
    <div class="row inf">
        <div class="item" *ngFor="let dato of experienciadata" (click)="editar(dato)" >
            <p class="puesto">{{dato.puesto}}</p>
            <p class="ano">{{dato.year}}</p>
            <p class="duracion">{{dato.meses}}</p>
            <p class="lugar">{{dato.lugar}}</p>
            <p class="descripcion">{{dato.descripcion}}</p>
        </div>
    </div>

</div>
