.entradadato
    min-width: 100%
    textarea
        resize: none
        min-height: 250px
.botonera
    min-width: 100%
    display: flex
    justify-content: space-around
    align-items: center
    button
        min-width: 20%