<div class="container">
    <div class="row">
        <div class="col formulario">
            <form [formGroup]="forma">
                <mat-form-field class="entradadato" appearance="outline">
                    <mat-label>Sobre mi</mat-label>
                    <textarea   matInput
                                formControlName="areatexto"></textarea>
                </mat-form-field>
                <mat-form-field class="datopeque" appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input  matInput
                            formControlName="nombre">
                </mat-form-field>
                <mat-form-field class="datopeque" appearance="outline">
                    <mat-label>Ocupacion</mat-label>
                    <input  matInput
                            formControlName="ocupacion">
                </mat-form-field>
                <p class="advertencia" *ngIf="advertencia">La presentación no cumple con los criterios para ser guardado</p>
                <div class="botonera">
                    <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
                    <button mat-raised-button color="primary" (click)="borrar()">Limpiar</button>
                </div>
            </form>
        </div>
    </div>
    <!--
    <div class="row">
        <div class="col">
            <pre>{{forma.value|json}}</pre>
        </div>
    </div>
    -->
</div>